@model Pharmacy

<td>
    @Html.DisplayFor(modelItem => Model.Id)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Name)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Phone)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.City.Name)
</td>



