@model Donation

@{
    ViewData["Title"] = "Create or Edit Donation";
    await Html.RenderPartialAsync("PartialView/_FormStylesPartial");
}



<div class="row">
    <div class="col-lg-12">
        <form asp-action="CreateOrEdit" class="form-horizontal">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>
                    <h2 class="card-title">@ViewData["Title"]</h2>
                </header>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    @if (Model.Id == 0)
                    {
                       
                        <div class="form-group row">
                            <label  class="col-sm-2 control-label  pt-2">Enter Patient E-mail or Phone</label>
                            <div class="col-sm-10">
                                @if (ViewBag.Error != null)
                                {
                                    <span class="text-danger">
                                        <i class="fas fa-exclamation"></i><span>&nbsp;</span>No Patient Found Wih @ViewBag.Error
                                    </span>
                                }
                                <input type="text" asp-for="EmailOrPhone" class="form-control">

                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="Fk_Patient" />
                    }
                    <div class="form-group row">
                        <label asp-for="DonateType" class="col-sm-2 control-label  pt-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="Fk_DonateType" class="custom-select" asp-items="ViewBag.donateType">
                                <option selected disabled>Select Donate Type</option>
                            </select>
                        </div>
                    </div>
                </div>
                <footer class="card-footer text-left">
                    <button class="btn btn-primary">Submit </button>
                    <button type="reset" class="btn btn-default">Reset</button>
                    <a asp-action="Index" class="btn btn-success" >Back</a>
                </footer>
            </section>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("PartialView/_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("PartialView/_FormScriptsPartial");}
}

