
@{
    ViewData["Title"] = "Advice";
}

<!-- General Advises -->
<section class="ls section_padding_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h6 class="section_header grey">
                    Corona Advices
                </h6>
                <p>
                    How can I protect my family and community?
                    <br>
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-6 to_animate">
                <div class=" text-center">
                    <div>
                        <img src="~/images/social-distance.svg" alt="Corona" style="width: 50%!important;">
                    </div>
                    <h3>Social distancing</h3>
                    <p>
                        Stay home! If you have to leave home for critical supplies or medical care, stay 6
                        feet away from others. People can spread the virus even without symptoms.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 to_animate">
                <div class=" text-center">
                    <div>
                        <img src="~/images/cover-up.svg" alt="Corona" style="width: 50%!important;">
                    </div>
                    <h3>Cover your coughs and sneezes</h3>
                    <p>
                        Cover sneezes and coughs with your elbow or a tissue. Dispose of tissues carefully
                        and wash your hands.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 to_animate">
                <div class=" text-center">
                    <div>
                        <img src="~/images/wash-hands.svg" alt="Corona" style="width: 50%!important;">
                    </div>
                    <h3>Wash hands often</h3>
                    <p>
                        Wash hands with warm water and soap for at least 20 seconds when leaving the
                        bathroom, before you prepare food or eat, or when you blow your nose, cough, or
                        sneeze. Use a hand sanitizer containing at least 60% alcohol if soap and water are
                        unavailable.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 to_animate">
                <div class=" text-center">
                    <div>
                        <img src="~/images/desinfect.svg" alt="Corona" style="width: 50%!important;">
                    </div>
                    <h3>Clean and disinfect</h3>
                    <p>
                        Clean frequently-used surfaces including phones, remote controls, light switches, and
                        door handle with a disinfecting solution regularly.
                    </p>
                </div>
            </div>
        </div>



    </div>
</section>
<!-- eof General Advises -->

<!--corona Asked question -->
<section id="about" class="ls">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <h2 class="widget-title text-center" style="font-size: 35px;">
                    Frequently asked coronavirus
                    questions
                </h2>

                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                   class="collapsed">
                                    What are the symptoms of COVID-19?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-body">
                                        The symptoms most commonly experienced include fevers, cough and
                                        difficulty breathing or shortness of breath. Developing body aches,
                                        runny nose, sore throat, nasal congestion or diarrhea is also
                                        possible. In some cases, people who are infected will not exhibit
                                        any symptoms, though most people experience a mild form of the
                                        disease, similar to a cold or flu virus. Certain groups of people
                                        may experience more serious illness, including older people (over
                                        the age of 65) and those with a history of medical conditions such
                                        as decreased immunity, high blood pressure, heart disease, chronic
                                        lung disease, chronic kidney disease or diabetes. Pregnant women may
                                        also be at increased risk for more severe illness due to changes
                                        that occur in the immune system while pregnant.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                                   class="collapsed">
                                    How is COVID-19 spread?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-body">
                                        Health officials continue to study the virus to determine how it is
                                        spread. Currently, there are a few different modes of transmission
                                        suggested, based on people who have been diagnosed with the novel
                                        coronavirus. This includes human to human transmission via
                                        respiratory droplets through sneezing, coughing, and close personal
                                        contact such as touching or shaking hands. The virus can also be
                                        spread by contact with a surface or object that has the virus on it,
                                        followed by touching one’s own mouth, nose, or eyes.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                                   class="collapsed">
                                    What should I do if I’ve had contact with someone with COVID-19?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-body">
                                        If you've had contact with someone with COVID-19, it is important to
                                        self-quarantine to avoid potentially spreading the virus to others.
                                        Your specific risk will depend on the type of contact you had with
                                        the individual. A "close contact" means being in a confined space
                                        with an individual who has the disease, such as in a home, hospital
                                        room, or classroom.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                                   class="collapsed">
                                    What should I do if the COVID-19 risk assessment showed I was at
                                    elevated risk of having the illness?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-body">
                                        <ul>
                                            <li>
                                                If you took the COVID-19 risk assessment and you were
                                                recommended not to seek immediate medical evaluation (either
                                                in person or via a remote doctor visit), this indicates that
                                                you are currently experiencing mild symptoms and you do not
                                                have a history of medical conditions that might increase
                                                your risk of a more severe illness. If this does not sound
                                                accurate, please ensure you answered the risk assessment
                                                questions accurately. For people with mild symptoms and
                                                otherwise good health, COVID-19 will often resolve on its
                                                own without seeking medical treatment. You can rest at home,
                                                stay well hydrated and take over-the-counter medications as
                                                needed to treat your symptoms.
                                            </li>
                                            <li>
                                                Continue to closely monitor your symptoms. If you feel that
                                                your symptoms are worsening, make arrangements to be seen by
                                                a healthcare provider for further evaluation. Please
                                                consider the hotline 105 when need medical care
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"
                                   class="collapsed">
                                    If I am at risk of having COVID-19, don’t I need to see a doctor to get
                                    tested for the illness?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-body">
                                        <ul>
                                            <li>
                                                At this time, not everyone that has symptoms or risk of
                                                COVID-19 exposure is recommended to complete testing. Due to
                                                the limited number of available tests in many regions,
                                                testing may only be available to healthcare personnel or
                                                those people who are at risk of developing more serious
                                                illness due to their pre-existing medical conditions or age
                                                (65 years or older). If neither of these situations apply,
                                                it is recommended to stay home and care for your illness.
                                                This helps prevent the spread to others while ensuring that
                                                local healthcare facilities are able to evaluate patients
                                                who are sicker.
                                            </li>
                                            <li>
                                                If you feel that you need testing for a reason unrelated to
                                                your
                                                own illness (for example, you are the caregiver for an
                                                elderly
                                                family member who is at high risk), please contact 105 by
                                                phone.
                                                Ask for information about local resources such as drive-by
                                                testing centers or private testing options in your area. In
                                                some
                                                areas, you may be able to obtain testing in this manner even
                                                when you do not meet the criteria for testing mentioned
                                                above.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
        <!-- eof #box_wrapper -->
    </div>
</section>
<!--eof corona Asked question -->

<!-- Corona Virus Symptoms -->
<section class="ls ms section_padding_75">
    <div class="container" style="margin-bottom: 50px;">
        <h2 class="text-center pt-3 mb-5 title-hand">Corona Virus Symptoms</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="thumbnail ">
                    <img src="~/images/symp-a.png" style="border: none ;margin-top: 20px; width: 60%;" alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Dry Cough</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/images/symp-b.png" style="border: none ;margin-top: 20px; width: 60%;" alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Sore Throat</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/images/symp-c.png" style="border: none ;margin-top: 20px; width: 60%;" alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Cold</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/images/symp-d.png" style="border: none ;margin-top: 20px;width: 60%;" alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Fever</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/images/symp-e.png" style="border: none ;margin-top: 20px;width: 60%;" alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Headache</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mal-auto">
                <div class="thumbnail">
                    <img src="~/images/symp-f.png" style="border: none ;margin-top: 20px;width: 60%;" alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Vomiting</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</section>
<!--eof Corona Virus Symptoms -->

<!-- how to wash your hand -->
<section class="ls ms section_padding_75">
    <div class="container">
        <h2 class="text-center pt-3 mb-5 title-hand">Set of Rules How to Wash your Hands</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="thumbnail ">
                    <img src="~/images/wash-a.png" style="border: none ;margin-top: 20px;  width: 60%;"
                         alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Water and Soap</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/images/wash-b.png" style="border: none ;margin-top: 20px;  width: 60%;"
                         alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Comfortable or the soles of the hands</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/images/wash-c.png" style="border: none ;margin-top: 20px; width: 60%;" alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Between Fingurs</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/images/wash-d.png" style="border: none ;margin-top: 20px;  width: 60%;"
                         alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Thumbs Finger</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="~/images/wash-e.png" style="border: none ;margin-top: 20px;  width: 60%;"
                         alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Back of Hands</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mal-auto">
                <div class="thumbnail">
                    <img src="~/images/wash-f.png" style="border: none ;margin-top: 20px;  width: 60%;"
                         alt="">
                    <div class="caption">
                        <p style="color: #55bce9">Focus on Wrists</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</section>
<!--eof how to wash your hand -->
